body {
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    width: 100vw;

}

#home {

    height: 100vh;

    display: flex;
    flex-direction: column;


}

#home::before {
    background: url('1.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.header {
    display: flex;
    
}

.left img {
    width: 145px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;

}



.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: center;

}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    margin: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(70, 68, 68);

}
#a button{
   
    margin-right:0px;
    margin-top:2px;
}
.button {
    margin: 15px 5px;
    
    width: 100px;
    padding: 10px 14px;
    color: white;
    background: rgb(31, 30, 30);
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
}
.button a{
    color:white;
    text-decoration: none;
}
.button:hover {
    background: rgb(240, 233, 233);
    color: rgb(4, 4, 4);
    
    
}


#a {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    color: rgb(50, 48, 48);
    font-size: 50px;
    
    margin: 10px 2px 0px 0px;

}



.sub {
    font-size: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
   
    color: rgb(224, 240, 228);
    line-height: 2.5;
  
    
}

#lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right,rgb(178, 179, 175) ,rgb(242, 244, 235) );


}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 5px;
   color: #333;
   font-family: 'Times New Roman', Times, serif;

    

}

.l1 {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-evenly;
    width: 100%;
}



.l2 img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    
    margin: 30px 40px 60px 60px;
    border: 2px solid black;
    box-shadow: 6px 6px 10px rgb(74, 65, 54);
    opacity: 0;
    transform: scale(0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.l2 img.visible {
    animation: fadeInScale 3s forwards;
   
}

.l2 img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}



#project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
    
   
}
#projects{
    display:flex;
   
    justify-content: space-between;
}
.image-card {
   
   

   position: relative;
    width: 100%;
    

    
}

.image-card img {
    width: 100%;
    

    height: 300px;
    opacity: 0.7;
    border: 3px solid black;
    vertical-align: middle;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(249, 246, 246);
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease, background-color 0.3s ease; 
}


.image-text p {
    margin: 10px;
    line-height: 1.5;
    color: #333;
    font-family: "Playfair Display", serif;
    
}
.short-description{
    font-size:24px;
font-weight: bold;
}
.long-description{
    font-size:18px;
    
}


.image-card:hover .image-text {
    transform: translateY(0);
    background-color: #f0f0f0; }


#aboutme{
    margin-top: 250px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    background-image: linear-gradient(to right,rgb(178, 179, 175) ,rgb(242, 244, 235) );
    
}
.intro{
width: 60%;
margin-top: 0px;
margin-left: 70px;
padding: 20px;

}
.intro p{
    margin-top: 0px;
    font-size: 25px;
}
.symbols{
    width: 40%;
    display:grid;
    grid-template-columns: 1fr 1fr;
   
    margin-right: 0px;
    margin-top: 40px;
    margin-left:20px;
}
.symbols img {
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    object-fit:cover;

}
h3{
    font-size: 40px;
    font-family: "Playfair Display", serif;
}
#extracurricular-section {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 4s ease-in-out, transform 7s ease-in-out; 
}

#extracurricular-section.visible{
    opacity: 1; 
    transform: translateY(0); 
}

#extracurricular-section h2{
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#extracurricular-section ul {
    list-style: none;
    padding: 0px;
}

#extracurricular-section ul li {
    font-size: 20px;
    color: #444;
    margin: 10px 0;
    opacity: 0; 
    
    border: 1px solid rgb(236, 249, 208);
    border-radius: 9px;;
    background-color: rgb(236, 236, 234);
   
}

#extracurricular-section.visible ul li{
    opacity: 1;
    transform: translateY(0); 
}


#contactme{
    display:flex;
    
    margin: 10px;
    margin-top: 25px;
    
}



.form {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 60%;
}

h2 {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
}

#hireMeForm button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#hireMeForm button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
.contact{
    width:40%;
    margin-left: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
}

.contact ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
}

.contact li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.contact a {
    text-decoration: none;
    color: #000; 
    font-size: 20px; 
    transition: color 0.3s;
}

.contact i {
    margin-right: 10px;
    transition: color 0.3s;
}

.contact a:hover i,
.contact a:hover {
    color: #656363; 
}
footer {
    background-color: #6a6d6b;
    color: white;
    padding: 5px 30px 0px 0px;
    text-align: center;
    width: 100%;
    
    height: 300px;
}

.footer-container {
    width: 100%;
    margin: 0 ;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 5px;
    font-size: 15px;
    
}

.footer-section h4 {
    margin-top: 7px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}

.footer-section a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}




.footer-bottom p{
    font-size: 20px;
    padding: 0px;
}



